<!-- Thankful to Open Source Github website Code: https://github.com/StartBootstrap/startbootstrap-modern-business  -->
{% extends "menu.html" %}
<!-- This part is for our main buttons and functions, connnected with APIs-->
{% block content %}
<!-- First, we create 4 main buttons. -->
<div class="container text-center">
  <h1 class="display-4 mt-5">Smart Electricity Management System</h1>
  <p class="lead mt-4">Welcome! Please select an action:</p>
  <div class="row mt-4">
    <div class="col-md-3">
      <button
        class="btn btn-primary w-100"
        onclick="showSection('registerSection')"
      >
        📝 Register Meter
      </button>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-success w-100"
        onclick="showSection('meterReadingSection')"
      >
        ⚡ Submit Reading
      </button>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-info w-100"
        onclick="showSection('dailyUsageSection')"
      >
        📊 Daily Usage
      </button>
    </div>
    <div class="col-md-3">
      <button
        class="btn btn-warning w-100"
        onclick="showSection('monthlyBillSection')"
      >
        💳 Monthly Bill
      </button>
    </div>
  </div>
</div>

<!-- Register Meter for accounts -->
<!-- This part is for register and the form. -->
<div id="registerSection" class="form-section mt-4" style="display: none">
  <h2 class="mb-4">📝 Register New Meter</h2>
  <form id="registerForm">
    <div class="mb-3">
      <!-- 
- 'placeholder' is the words and notes that we want to show to users by default. 
- 'Required' means that this information is required.
Notes: it's better to change this part to dropdown list, which is more user-friendly.-->
      <input
        type="text"
        class="form-control"
        placeholder="Meter ID (123-456-789)"
        pattern="\d{3}-\d{3}-\d{3}"
        id="meter_id"
        required
      />
    </div>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Region"
          id="region"
          required
        />
      </div>
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Area"
          id="area"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Dwelling Type"
        id="dwelling_type"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
  </form>
  <div id="registerMessage" class="mt-3"></div>
</div>

<!-- Submit Meter Reading Section -->
<div id="meterReadingSection" class="form-section mt-4" style="display: none">
  <h2 class="mb-4">⚡ Submit Meter Reading</h2>
  <form id="readingForm">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Meter ID (123-456-789)"
        id="reading_meter_id"
        required
      />
    </div>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <input type="date" class="form-control" id="date" required />
      </div>
      <!-- For this part:
 We want it to be more user-friendly, which can help users find the nearby half an hour. -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const dateInput = document.getElementById("date");

          function getCurrentDate() {
            let today = new Date();
            let year = today.getFullYear();
            let month = String(today.getMonth() + 1).padStart(2, "0");
            let day = String(today.getDate()).padStart(2, "0");
            return `${year}-${month}-${day}`;
          }

          // for now, today's date by default
          dateInput.value = getCurrentDate();
        });
      </script>
      <div class="col-md-6">
        <input type="time" class="form-control" id="time" step="60" required />
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const timeInput = document.getElementById("time");

          function getNearestHalfHour() {
            let now = new Date();
            let minutes = now.getMinutes();
            let roundedMinutes = minutes < 30 ? "00" : "30";
            let hours = String(now.getHours()).padStart(2, "0");

            return `${hours}:${roundedMinutes}`;
          }

          timeInput.value = getNearestHalfHour();
        });
      </script>
    </div>
    <div class="mb-3">
      <input
        type="number"
        step="0.01"
        class="form-control"
        placeholder="Current Reading (kWh)"
        id="electricity_reading"
        required
      />
    </div>
    <button type="submit" class="btn btn-success w-100">Submit Reading</button>
  </form>
  <div id="readingMessage" class="mt-3"></div>
</div>

<!-- The Daily Usage Query and Monthly Bill Query part are almost the same in front end. -->
<!-- Daily Usage Query -->
<div id="dailyUsageSection" class="form-section mt-4" style="display: none">
  <h2 class="mb-4">📊 Daily Usage Query</h2>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Meter ID (123-456-789)"
      id="queryMeterId"
    />
    <button class="btn btn-primary" onclick="queryUsage()">Query</button>
  </div>
  <div id="usageResult"></div>
</div>

<!-- Monthly Bill Query -->
<div id="monthlyBillSection" class="form-section mt-4" style="display: none">
  <h2 class="mb-4">💳 Monthly Bill Query</h2>
  <input
    type="text"
    class="form-control mb-3"
    placeholder="Meter ID (123-456-789)"
    id="queryBillMeterId"
  />
  <button class="btn btn-warning w-100" onclick="queryMonthlyBill()">
    Query
  </button>
  <div id="billResult" class="mt-3"></div>
</div>


<script>
  function showSection(sectionId) {
    document.getElementById("registerSection").style.display = "none";
    document.getElementById("meterReadingSection").style.display = "none";
    document.getElementById("dailyUsageSection").style.display = "none";
    document.getElementById("monthlyBillSection").style.display = "none";
    document.getElementById(sectionId).style.display = "block";
  }
  // The delay(9000) is how long the msg is.
  function showMessage(selector, type, text) {
    const element = $(selector);
    element.html(`<div class="alert alert-${type}">${text}</div>`);
    element.fadeIn().delay(9000).fadeOut();
  }

  // The following is how we define our function to interact with back end.
  // Register Functionality
  $(document).ready(function () {
    console.log("Document is ready");
    $("#registerForm").submit(async function (e) {
      e.preventDefault();
      const data = {
        meter_id: $("#meter_id").val(),
        region: $("#region").val(),
        area: $("#area").val(),
        dwelling_type: $("#dwelling_type").val(),
      };
      try {
        const response = await fetch("/register", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        });

        if (!response.ok) {
          const error = await response.json();
          throw new Error(error.message || "Registration failed");
        }

        const result = await response.json();
        showMessage("#registerMessage", "success", result.message);
        $("#registerForm")[0].reset();
        setTimeout(() => {
          history.pushState({}, "", "/register");
        }, 500);
      } catch (error) {
        showMessage("#registerMessage", "danger", error.message);
      }
    });

    // Submit Meter Reading Manually, this part is supposed to be done by IoT sensors 
// and we are simulating this process.
    $("#readingForm").submit(async function (e) {
      e.preventDefault();
      const formData = new FormData();
      formData.append("meter_id", $("#reading_meter_id").val());
      formData.append("date", $("#date").val());
      formData.append("time", $("#time").val());
      formData.append("electricity_reading", $("#electricity_reading").val());

      try {
        const response = await fetch("/meter-readings", {
          method: "POST",
          body: formData,
        });

        const result = await response.json();
        if (response.ok) {
          showMessage(
            "#readingMessage",
            "success",
            `${result.message}<br>Latest Reading: ${result.data.electricity_reading}kWh`
          );
          $("#readingForm")[0].reset();
          history.pushState({}, "", "/meter-readings");
        } else {
          showMessage("#readingMessage", "danger", result.error);
        }
      } catch (error) {
        showMessage(
          "#readingMessage",
          "danger",
          "Submission failed, please try again later"
        );
      }
    });
  });

  // Daily Usage Query for Daily
  async function queryUsage() {
    const meterId = $("#queryMeterId").val();
    if (!meterId.match(/^\d{3}-\d{3}-\d{3}$/)) {
      return showMessage(
        "#usageResult",
        "danger",
        "Please enter a valid Meter ID (123-456-789)"
      );
    }

    try {
      const response = await fetch(`/meters/${meterId}/daily/latest`);
      const contentType = response.headers.get("content-type");

      if (!response.ok) {
        let errorMessage = `Error ${response.status}: ${response.statusText}`;
        if (contentType && contentType.includes("application/json")) {
          const errorData = await response.json();
          if (errorData && errorData.message) {
            errorMessage = errorData.message;
          }
        }
        throw new Error(errorMessage);
      }

      if (!contentType || !contentType.includes("application/json")) {
        throw new Error("Invalid response from server (not JSON)");
      }

      const data = await response.json();

      const html = `
      <div class="alert alert-success">
          <h5>Meter ${data.meter_id}</h5>
          <table class="table">
              <tr><th>Region</th><td>${data.region}</td></tr>
              <tr><th>Area</th><td>${data.area}</td></tr>
              <tr><th>Dwelling_type</th><td>${data.dwelling_type}</td></tr>
              <tr><th>Last Reading Day</th><td>${data.date}</td></tr>
              <tr><th>Daily Usage</th><td>${data.usage} kWh</td></tr>
          </table>
      </div>
    `;

      $("#usageResult").html(html);
      history.pushState({}, "", `/meters/${meterId}/daily/latest`);
    } catch (error) {
      showMessage("#usageResult", "danger", error.message);
    }
  }

  // Monthly Billing
  async function queryMonthlyBill() {
    const meterId = $("#queryBillMeterId").val();
    if (!meterId.match(/^\d{3}-\d{3}-\d{3}$/)) {
      return showMessage(
        "#billResult",
        "danger",
        "Please enter a valid Meter ID (123-456-789)"
      );
    }

    try {
      const response = await fetch(`/meters/${meterId}/monthly/latest`);
      console.log(response);

      const contentType = response.headers.get("content-type");

      // If the response is not ok, try to extract the error message from the JSON if available.
      if (!response.ok) {
        let errorMessage = `Error ${response.status}: ${response.statusText}`;
        if (contentType && contentType.includes("application/json")) {
          const errorData = await response.json();
          if (errorData && errorData.message) {
            errorMessage = errorData.message;
          }
        }
        throw new Error(errorMessage);
      }

      if (!contentType || !contentType.includes("application/json")) {
        throw new Error("Invalid response from server (not JSON)");
      }

      const data = await response.json();

      const html = `
      <div class="alert alert-success">
          <h5>Meter ${data.meter_id}</h5>
          <table class="table">
              <tr><th>Region</th><td>${data.region}</td></tr>
              <tr><th>Area</th><td>${data.area}</td></tr>
              <tr><th>Dwelling_type</th><td>${data.dwelling_type}</td></tr>
              <tr><th>Last Reading Month</th><td>${data.date}</td></tr>
              <tr><th>Monthly Usage</th><td>${data.usage} kWh</td></tr>
          </table>
      </div>
    `;

      $("#billResult").html(html);
      history.pushState({}, "", `/meters/${meterId}/monthly/latest`);
    } catch (error) {
      showMessage("#billResult", "danger", error.message);
    }
  }

  // Stop ServerPart which include the batch jobs. 
  async function serverstop() {
    try {
      const response = await fetch("/stop_server", { method: "POST" });
      const data = await response.json();
      alert(data.message);
    } catch (error) {
      alert("Sorry, failed to stop server. Please try again later.");
    }
  }
</script>
{% endblock %}
